/* =====================
 reviewSlider
========================*/

.swiperWrap :global(.swiper) {
  padding: 50px 10px !important;
}


//homearea 버튼 부분
.mainMore {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: var(--main-color);

  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.reviewSliderWrap {
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;

}

.reviewCard {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  padding: 10px;


  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  }
}

.reviewImage {
  position: relative;
  /*width: 100%;
  aspect-ratio: 2 / 1; 
  overflow: hidden;*/
  position: relative;
  width: 90%;
  padding-bottom: 90%;
  /*height:250px;*/
  /* padding-bottom: 100%;  1:1 비율 (정사각형) */
  overflow: hidden;
  background: #f5f5f5;
  margin: 0 auto;
  border-radius: 15px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 여백을 허용하면서 이미지 전체 표시 */
    object-position: center;
    display: block;
  }
}


.reviewContent {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.reviewTitle {
  font-size: 1.1rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 12px;
}

.reviewText {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 2줄로 제한 */
  -webkit-box-orient: vertical;
  flex-grow: 1;
  height: 40px;
}

.reviewFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  color: #999;
}


.swiperWrap :global(.swiper-pagination-bullets) {
  margin-top: 30px !important;

}

.swiperWrap :global(.swiper-pagination-bullet) {
  background: #ccc !important;
  opacity: 1;
}

.swiperWrap :global(.swiper-pagination-bullet-active) {

  background:
    /*#222 !important*/
    var(--main-color) !important;
}


