@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --main-font: 'Pretendard', sans-serif;
  /* 폰트 변수 */

  --main-color: #ffaf8b;
  --main-hover: #f77f48;
  ;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--main-font);
}

.section {
  width: 100%;
  height: auto;
  margin: 115px auto 0;
  text-align: center;
  position: relative;
}

.section_in {
  width: 98%;
  max-width: 1280px;
  margin: 60px auto 0;
  position: Relative;
  text-align: center;

}

.title {
  display: inline-block;
  margin: 0 auto;
  font-family: var(--mainfont);
  font-size: 32px;
  font-weight: 500;
  position: relative;
  line-height: 1;
}

.title::after {
  content: '';
  position: Absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 2px;
  background: var(--main-color);
}


/* 서브페이지 */
.subpage-content {
    /* fixed Header의 높이(200px)만큼 padding-top을 추가합니다. */
    padding-top: 80px;
    padding-bottom:50px;

}



/*
Pagination
*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 8px;
}


.pagination {
  button {
    border: 1px solid #ccc;
    background: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;

    &:hover {
      background: #f2f2f2;
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &.active {
      background: var(--main-color);
      color: #fff;
      border-color: var(--main-color);
    }
  }
}




/* =====================
   Tablet  
========================*/
@media (min-width: 768px) and (max-width: 1023px) {
  .section {
    max-width: 100%;
  }

  .section_in {
    width: 96%
  }

  .title {
    font-size: 2rem;
  }

}


/* =====================
   Mobile  
========================*/
@media (max-width: 767px) {
  .content-area {
    width: 96%
  }

  .section_in {
    width: 96%
  }

  .title {
    font-size: 2.143rem;
  }

}