/* =====================
  AllMenus
========================*/

.pc_allmenu {
  //display: none;
  width: 100%;
  height: 320px;
  background: rgba(255, 255, 255, 0.9);

  .open {
    display: block;
  }

  .on {
    background: rgba(255, 255, 255, 0.9);
  }
}



.pc_allmenu_in {
  position: relative;
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 40px;

  >ul:first-child {
    background: orange;
    width: 90%;
    margin: 0 auto;

    >li{
      width: 13.5%;
      float: left;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      

      >a {
        display: block;
        padding-bottom: 10px;
      }

      >ul {
        >li {
          >a {
            
            display: block;
            padding: 10px 0;
            font-weight: 500;
          }
        }
      }

    }

    .m_my {
      margin-top: -90px;
    }
  }
}




.allmenu_close {
  width: 40px;
  height: 40px;
  background: #f5cecf;
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}