/* =====================
   MobileUtil
========================*/

@media (min-width: 768px) and (max-width: 1023px) {

   .mobile_util {
      /*
		position:absolute;bottom:0px;left:0;z-index:1200 ;width:100%;height:80px;display: flex;background:#f9f9f9
		*/
      flex-shrink: 0;
      /* 줄어들지 않음 */
      width: 100%;
      height: 80px;
      display: flex;

      position: sticky;
      /* <- optional: open_in 내부에서도 하단 고정 */
      bottom: 0;
      z-index: 10;

      >div {
         width: 33.3%;
         text-align: center;

         p {
            display: flex;
            justify-content: center;
            /* 가로 중앙 */
            align-items: center;
            /* 세로 중앙 */
         }
      }

   }


}


/* =====================
   Mobile  
========================*/

@media (max-width: 767px) {

   .mobile_util {
      /*
		position:absolute;bottom:0px;left:0;z-index:1200 ;width:100%;height:80px;display: flex;background:#f9f9f9
		*/
      flex-shrink: 0;
      /* 줄어들지 않음 */
      width: 100%;
      height: 80px;
      display: flex;

      position: sticky;
      /* <- optional: open_in 내부에서도 하단 고정 */
      bottom: 0;
      z-index: 10;

      >div {
         width: 33.3%;
         text-align: center;

         p {

            display: flex;
            justify-content: center;
            /* 가로 중앙 */
            align-items: center;
            /* 세로 중앙 */
         }
      }
   }



}