/* =====================
   UtilMenus
========================*/



.pc_util {
  display: flex;

  li {
    a {
      display: inline-block;
    }
    img{
      filter:invert(100%);
    }
  }
  &.on{
   li img{
    filter:invert(0) !important;
   } 
  }
}

.pc_utilmy {
  position: relative;
}

.pc_utilmy_in {
  //display: none;
  position: absolute;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  text-align: center;
  border-radius: 10px;
  background: #eee;
  padding: 14px 0;

  li {
    width: 140px;

    a {
      display: block;
      padding: 10px 0;
      font-size: 18px;
      font-weight: 500;
    }
  }
}


.pc_utilcart {
  position: relative;
  margin: 0 5px;

  span {
    display: inline-block;
    position: Absolute;
    right: 3px;
    top: 3px;
    padding-top: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ff1a21;
    font-size: 10px;
    text-align: Center;
    vertical-align: middle;
    color: #fff;
  }
}


