/* =====================
  Visual
========================*/


.visual {
  width: 100%;
  position: relative;
}

.mySwiper {
  width: 100%;
  height: 100%;
  margin: 0;
}

.visualSwiper {
  padding: 0 !important;
}

.swiperButton {

  width: 20%;
  height: 56px;
  position: absolute;
  right: 5%;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  button {
    border-style: none;
  }
}

.swiperButtonNext,
.swiperButtonPrev {
  margin-top: 0px;
}

.swiperButtonNext {

  ::after {
    display: none;
  }
}

.swiperButtonPrev {
  ::after {
    display: none;
  }
}

.swiperButtonNext {
  position: static;
  width: 30%;
  height: 100%;
  background: url(/images/slide_right.png) no-repeat;
  background-size: contain;
}

.swiperButtonPrev {
  position: static;
  width: 30%;
  height: 100%;
  background: url(/images/slide_left.png) no-repeat;
  background-size: contain;
}


/* =====================
   Tablet  
========================*/
@media (min-width: 768px) and (max-width: 1023px) {
  .visual {
    margin-top: 80px;
  }

  .swiperButton {
    display: none;
  }
}


/* =====================
   Mobile  
========================*/
@media (max-width: 767px) {
  .visual {
    margin-top: 80px;
  }

  .swiperButton {
    display: none;
  }


}